// global
@import "global/page";
@import "global/fonts";
@import "global/libs";
@import "global/scroll";
@import "global/form";

// mixins
@import "mixins/base-mixins";
@import "mixins/media-mixins";

// Sprites
// @import "sprites/png-sprite" // To create png-sprite.sass run "gulp sprite";

// blocks
@import "blocks/skills";
@import "blocks/testimonials";
@import "blocks/why-we";
@import "blocks/gallery";
@import "blocks/price";
@import "blocks/project-start";
@import "blocks/project-business";
@import "blocks/project-person";
@import "blocks/footer";
