// ======стили для Pop up=======

.arcticmodal-container,.arcticmodal-overlay{position:fixed;left:0;top:0;right:0;bottom:0;z-index:1000}
.arcticmodal-container{overflow:auto;margin:0;padding:0;border:0;border-collapse:collapse;}
:first-child+html .arcticmodal-container{height:100%}
.arcticmodal-container_i2{padding:0;margin:0;border:0;vertical-align:middle}
#hidden-box{display:none;}
.error-input{border: 1px solid red}

.arcticmodal-container_i {
    background: #fff none repeat scroll 0 0;
    border: 2px solid #333;
    font-weight: bold;
    height: 200px;
    margin: 10% auto;
    text-align: center;
    width: 500px;
    color: #1F7A68;
}