@import "mixins/base-mixins";
@import "mixins/media-mixins";
// @import "sprites/png-sprite"; 

.footer {
    
    &__wrap {
        background-color: #FFA100;
        width: 100%;
        height: 100vh;
    }

    &__m-wrap {
        max-width: 1200px;
        height: 100vh;
        
        h3 {
        	color: #1F7A68;
        	font-size: 50px;
        	padding-top: 35px;
        }

        h3::after {
        	content: " ";
        	display: block;
        	width: 100%;
        	height: 2px;
        	background-color: #1F7A68;
        	margin-top: 50px;
        }
    }

    &__form {
    	margin: 50px 0 0 0;
    	
    	input[type="text"] {
    		display: block;
    		width: 96%;
    		height: 50px;
    		margin: 20px auto;
    		background-color: transparent;
    		border: 2px solid #1F7A68;
    		padding-left: 10px;
    	}

        input[type="checkbox"] {
            display: block;
            margin: 0 20px;
            
        }

    	textarea {
    		display: block;
    		width: 96%;
    		height: 200px;
    		margin: 20px auto;
    		background-color: transparent;
    		border: 2px solid #1F7A68;
  			padding: 10px;
    	}

    	p {
    		padding: 10px 20px;
    		font-size: 20px;
    		color: #1F7A68;
    	}

    	span{
    		display: block;
    		margin: -16px 0 11px 40px;
    		color: #1F7A68;
    	}

    	button {
    		background-color: #f93e58;
		    border-radius: 15px;
		    color: #fff;
		    height: 40px;
		    line-height: 0;
		    margin: 20px 17px;
		    width: 150px;
		    display: block;
		    text-align: center;
            border: none;
    	}

    	button:hover {
    		background-color: #fff;
		    color: #f93e58;
		    -webkit-transition: all .30s;
		       -moz-transition: all .30s;
		        -ms-transition: all .30s;
		         -o-transition: all .30s;
		            transition: all .30s;
    	}
    }
}