@import "mixins/base-mixins";
@import "mixins/media-mixins";
// @import "sprites/png-sprite";
.project-person {
    
    &__wrap {
        background-color: #FFCB73;
        width: 100%;
        height: 100vh;
    }

    &__m-wrap {
        max-width: 1200px;
        height: 100vh;
        display: flex;
        -webkit-justify-content: space-around;
                justify-content: space-around;
        -webkit-align-items: center;
                align-items: center;
    }

    &__content {
    	padding: 10px;
    	-webkit-flex-grow: 1;
    	        flex-grow: 1;
        
    	h3 {
    		color: #F93E58;
    		font-size: 40px;
    		padding: 20px 0 60px;
    		text-align: left;
    	}

    	p {
    		color: #1F7A68;
    		font-size: 25px;
    		padding:  0 0 20px 0;
    		text-align: left;
    	}

    	span {
    		color: #1f7a68;
		    display: block;
		    font-size: 18px;
		    padding: 0 0 12px;
		    text-align: left;
    	}

    	ul {
    		padding-top: 14px;
    	}

    	ul>li {
    		color: #F93E58;
		    display: block;
		    font-size: 16px;
		    padding: 0 0 20px;
		    text-align: left;
    	}


    }

    &__img {
			-webkit-flex-grow: 1;
			        flex-grow: 1;
			max-width: 500px;
			padding: 10px;
    	img {
	    	display: block;
		    margin: 0 auto;
		    text-align: center;
		    width: 90%;
    	}
    }
}