@import "mixins/base-mixins";
@import "mixins/media-mixins";
// @import "sprites/png-sprite";
.project-business {
    
    &__wrap {
        background-color: #FFA100;
        width: 100%;
        height: 100vh;
    }

    &__m-wrap {
        max-width: 1200px;
        height: 100vh;
        display: flex;
        -webkit-justify-content: space-around;
                justify-content: space-around;
        -webkit-align-items: center;
                align-items: center;

    }

    &__content {
    	padding: 10px;
    	-webkit-flex-grow: 1;
    	        flex-grow: 1;
        
    	h3 {
    		color: #F93E58;
    		font-size: 40px;
    		padding: 20px 0 60px;
    		text-align: left;
    	}

    	p {
    		color: #1F7A68;
    		font-size: 25px;
    		padding:  0 0 20px 0;
    		text-align: left;
    	}

    	span {
    		color: #1f7a68;
		    display: block;
		    font-size: 18px;
		    padding: 0 0 12px;
		    text-align: left;
    	}

    	ul {
    		padding-top: 14px;
    	}

    	ul>li {
    		color: #F93E58;
		    display: block;
		    font-size: 16px;
		    padding: 0 0 20px;
		    text-align: left;
    	}


    }

    &__img {
			-webkit-flex-grow: 1;
			        flex-grow: 1;
			max-width: 500px;
			padding: 10px;
    	img {
	    	display: block;
		    margin: 0 auto;
		    text-align: center;
		    width: 90%;
    	}
    }
}

//media

@include max_1200 {
    .project-business {
        height: auto;
        
        &__wrap {
            height: auto;
        }

        &__m-wrap {
            -webkit-flex-direction: column;
                -ms-flex-direction: column;
                    flex-direction: column;
            height: auto;
            padding: 0 0 50px;
        }

        &__content h3 {
            font-size: 35px;
            text-align: center;
            padding: 20px 0 30px;
        }

        &__content p {
            font-size: 22px;
            text-align: center;
        }

        &__content span {
            font-size: 18px;
            text-align: center;
        }

        &__content ul > li {
            font-size: 16px;
            text-align: center;
        }

    }
}

@include max_600 {
   .project-business {
      
        &__content h3 {
            font-size: 30px;
            text-align: center;
            padding: 20px 0 30px;
        }

        &__content p {
            font-size: 20px;
            text-align: center;
        }

        &__content span {
            font-size: 17px;
            text-align: center;
        }

        &__content ul > li {
            font-size: 15px;
            text-align: center;
        }
    }
}


@include max_499 {
    .project-business {
      
        &__content h3 {
            font-size: 30px;
            text-align: center;
            padding: 20px 0 30px;
        }

        &__content p {
            font-size: 18px;
            text-align: center;
        }

        &__content span {
            font-size: 16px;
            text-align: center;
        }

        &__content ul > li {
            font-size: 14px;
            text-align: center;
        }
    }
}