@import "mixins/base-mixins";
@import "mixins/media-mixins";
// @import "sprites/png-sprite";

section.module.parallax{
 
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-attachment: fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      z-index: 1;
}

.parallax-1{
    height: 100vh;
    background-image: url(../images/desktop/webdesign-paralax.jpg);
}



.skills {
		max-width: 1200px;
	    width: 100%;
        height: 100vh;
	    
	&__m-wrap {
        /* max-width: 1200px; */
        height: 100vh;
    }
    
    &__top {
        background-color: #FFA100; 
	    width: 100%;
	    height: auto;
        padding: 0 0 60px;
    }

    &__list {
    	max-width: 1200px;
    	margin: 0 auto;
    	text-align: center;
	    display: flex;
	    -webkit-justify-content: space-around;
	            justify-content: space-around;
	    -webkit-align-items: center;
	            align-items: center;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
    }

    &__block {
    	margin: 20px 25px 0;
    	cursor: pointer;
        position: relative;
    }

     &__block:hover .skills__back {
    	opacity: 1;
    	-webkit-transform: rotate(360deg);
    	   -moz-transform: rotate(360deg);
    	    -ms-transform: rotate(360deg);
    	     -o-transform: rotate(360deg);
    	        transform: rotate(360deg);
    	-webkit-transition: all .7s ease;
    	   -moz-transition: all .7s ease;
    	    -ms-transition: all .7s ease;
    	     -o-transition: all .7s ease;
    	        transition: all .7s ease;
    	
    } 

    &__front {
    	color: #fff;
    	width: 200px;
    	
    	span {
    		display: block;
    		padding: 50px 0;
    	}

    	h3 {
    		font-weight: bold;    		
    		padding:  0 0 2px 0;
    		border-bottom: 1px dashed #fff;
    		display: block;
    		margin: 0 auto;
		    padding: 5px 0 2px;
		    width: 100px;
    	}


    	p {
    		color: #FFF;
    		padding:  18px 0 0 0;
    	}

    	span {
    		border: 1px solid #fff;
		    border-radius: 50%;
		    display: block;
		    height: 50px;
		    line-height: 0;
		    margin: 40px auto 20px;
		    text-align: center;
		    width: 105px;
	    	
    	}
    }

    

    &__back {
    	width: 200px;
    	height: 150px;
    	color: #1F7A68;
    	background-color: #FFCB73;
    	opacity: 0;
    	z-index: 50;
    	position: absolute;
    	top: 147px;
    	-webkit-border-radius: 5px;
    	        border-radius: 5px;
    	
    	h3 {
    		padding: 10px 0;
    		font-weight: bold;
    	}
    }

    &__testimonials {
    	color: #fff;
	    font-size: 50px;
	    margin: 100px 0;
	    
	    span {
	    	display: block;
	    	text-align: center;
	    	-webkit-border-radius: 50%;
	    	        border-radius: 50%;
	    	border: 1px solid #fff;
	    	height: 150px;
	    	width: 150px;
	    	line-height: 150px;
	    	margin: 20px auto 0;
	    }
    }


}

/* media */

@include max_1200 {
    .parallax-1{
        height: 80vh;
    }

    .skills {
        &__testimonials {
                font-size: 40px;
                margin: 50px 0;
            
            span {
                font-size: 25px;
                height: 100px;
                width: 100px;
                line-height: 100px;
                margin: 20px auto 0;
            }
        }
    }
}

@include max_1000 {
    .parallax-1{
        height: 950px;
    }

    .skills {
        &__testimonials {
                font-size: 32px;
                margin: 40px 0;
            
            span {
                font-size: 25px;
            }
        }
    }
}

@include max_600 {
    .parallax-1{
        height: 950px;
    }

    .skills {
        &__testimonials {
                font-size: 28px;
                margin: 30px 0;
            
            span {
                font-size: 25px;
            }
        }
    }
}

@include max_515 {
    .parallax-1{
        height: 950px;
    }
    .skills{
        &__testimonials {
                font-size: 24px;
                margin: 25px 0;
        }
    }
}


@include max_499 {
    .parallax-1{
        height: 1360px;
    }

    .skills {

        &__top {
            height: 1120px;
        }

        &__testimonials {
                font-size: 18px;
                margin: 20px 0;
            
        }
    }
}