@import "mixins/base-mixins";
@import "mixins/media-mixins";
// @import "sprites/png-sprite";
.testimonials {
    
    &__wrap {
        background-color: #FFCB73;
        width: 100%;
        height: 100vh;
    }
}