@import "mixins/base-mixins";
@import "mixins/media-mixins";
// @import "sprites/png-sprite";
.why-we {
    
    &__wrap {
        background-color: #FFA100;
        width: 100%;
        height: 100vh;
    }
}