 	<section class="section footer">
	 	<div class="wrap footer__wrap">
	 		<div class="m-wrap footer__m-wrap">
	 			<h3>Получить бесплатный расчёт стоимости</h3>
	 			<form class="footer__form">
	 				<input type="text" placeholder="Ваше имя">
	 				<input type="text" placeholder="Ваш email">
	 				<input type="text" placeholder="Ваш телефон">
	 				<p>Тип сайта</p>
	 				<input type="checkbox" name="space" value="1"> <span>Старт</span>
	 				<input type="checkbox" name="space" value="2"> <span>Свой бизнес</span>
	 				<input type="checkbox" name="space" value="3"> <span>Индивидуальный</span>
	 				<input type="checkbox" name="space" value="4"> <span>Решу после консультации</span>
					<textarea placeholder="Ваше сообщение"></textarea>
					<a href="#">отправить</a>
	 			</form>
	 		</div>
	 	</div>
	</section>