	<section class="section gallery">
	 	<div class="wrap gallery__wrap">
	 		<div class="m-wrap gallery__m-wrap">
	 			<h3>Последние проекты</h3>
	 			<div class="gallery__fancy">
	 				<div class="gallery__list">
	 					<a id="single_image" href="../images/desktop/Header2.jpg"><img src="../images/desktop/portfolio1.jpg" alt=""/></a>
		 				<a id="single_image" href="../images/desktop/Header2.jpg"><img src="../images/desktop/portfolio2.jpg" alt=""/></a>
		 				<a id="single_image" href="../images/desktop/Header2.jpg"><img src="../images/desktop/portfolio3.jpg" alt=""/></a>
		 				<a id="single_image" href="../images/desktop/Header2.jpg"><img src="../images/desktop/portfolio2.jpg" alt=""/></a>
	 				</div>
	 				<div class="gallery__list">
	 					<a id="single_image" href="../images/desktop/Header2.jpg"><img src="../images/desktop/portfolio1.jpg" alt=""/></a>
		 				<a id="single_image" href="../images/desktop/Header2.jpg"><img src="../images/desktop/portfolio2.jpg" alt=""/></a>
		 				<a id="single_image" href="../images/desktop/Header2.jpg"><img src="../images/desktop/portfolio3.jpg" alt=""/></a>
		 				<a id="single_image" href="../images/desktop/Header2.jpg"><img src="../images/desktop/portfolio2.jpg" alt=""/></a>
	 				</div>
	 				<div class="gallery__list">
	 					<a id="single_image" href="../images/desktop/Header2.jpg"><img src="../images/desktop/portfolio1.jpg" alt=""/></a>
		 				<a id="single_image" href="../images/desktop/Header2.jpg"><img src="../images/desktop/portfolio2.jpg" alt=""/></a>
		 				<a id="single_image" href="../images/desktop/Header2.jpg"><img src="../images/desktop/portfolio3.jpg" alt=""/></a>
		 				<a id="single_image" href="../images/desktop/Header2.jpg"><img src="../images/desktop/portfolio2.jpg" alt=""/></a>
	 				</div>
	 			</div>
	 		</div>
	 	</div>
	</section>
