	<section class="section gallery">
	 	<div class="wrap gallery__wrap">
	 		<div class="m-wrap gallery__m-wrap">
	 			<h3>Последние проекты</h3> 
	 			<div class="gallery__fancy">
	 				<div class="gallery__list">
	 					<a class="single_image" href="../images/desktop/header2.jpg"><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-original=../images/desktop/portfolio1.jpg alt="bild" width="200" height="114" class="lazy" /></a>
		 				<a class="single_image" href="../images/desktop/header1.jpg"><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-original=../images/desktop/portfolio2.jpg alt="bild" width="200" height="114" class="lazy"/></a>
		 				<a class="single_image" href="../images/desktop/header2.jpg"><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-original=../images/desktop/portfolio3.jpg alt="bild" width="200" height="114" class="lazy"/></a>
		 				<a class="single_image" href="../images/desktop/header1.jpg"><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-original=../images/desktop/portfolio1.jpg alt="bild" width="200" height="114" class="lazy"/></a>
	 				</div>
	 				<div class="gallery__list">
	 					<a class="single_image" href="../images/desktop/header2.jpg"><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-original=../images/desktop/portfolio3.jpg alt="bild" width="200" height="114" class="lazy"/></a>
		 				<a class="single_image" href="../images/desktop/header1.jpg"><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-original=../images/desktop/portfolio1.jpg alt="bild" width="200" height="114" class="lazy"/></a>
		 				<a class="single_image" href="../images/desktop/header1.jpg"><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-original=../images/desktop/portfolio2.jpg alt="bild" width="200" height="114" class="lazy"/></a>
		 				<a class="single_image" href="../images/desktop/header2.jpg"><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-original=../images/desktop/portfolio3.jpg alt="bild" width="200" height="114" class="lazy"/></a>
	 				</div>
	 				<div class="gallery__list">
	 					<a class="single_image" href="../images/desktop/header1.jpg"><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-original=../images/desktop/portfolio1.jpg alt="bild" width="200" height="114" class="lazy"/></a>
		 				<a class="single_image" href="../images/desktop/header1.jpg"><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-original=../images/desktop/portfolio1.jpg alt="bild" width="200" height="114" class="lazy"/></a>
		 				<a class="single_image" href="../images/desktop/header1.jpg"><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-original=../images/desktop/portfolio1.jpg alt="bild" width="200" height="114" class="lazy"/></a>
		 				<a class="single_image" href="../images/desktop/header1.jpg"><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-original=../images/desktop/portfolio1.jpg alt="bild" width="200" height="114" class="lazy"/></a>
	 				</div>
	 			</div>
	 		</div>
	 	</div>
	</section>
