	<header>
		<section class="section header">
		 	<div class="wrap header__wrap">
		 		<div class="header__contact">
		 			<p>Звоните сейчас! 04332/45926578 | <a href="#">info@boo.com</a></p>
		 		</div>
		 		<div class="m-wrap header__m-wrap">
		 			<nav class="header__nav nav">
		 				<div class="nav__button">
						    <span></span>
						    <span></span>
						    <span></span>
						</div>
						<ul class="nav__list">
		 					<li class="nav__item nav__item--active"><a href="#">Home</a></li>
		 					<li class="nav__item"><a href="#">Почему мы</a></li>
		 					<li class="nav__item"><a href="#">Портфолио</a></li>
		 					<li class="nav__item"><a href="#">Цены</a></li>
		 					<li class="nav__item"><a href="#">Контакт</a></li>
		 				</ul>
		 			</nav>
		 			<div class="header__titel">
		 				<h1>Создаём <br><span>сайты</span></h1>
		 				<h2>Профессионалы сделают правильно</h2>
		 				<a href="#">получить расчёт стоимости</a>
		 			</div>
		 		</div>
		 	</div>
		 </section>
	</header>

