	<section class="section price">
	 	<div class="wrap price__wrap">
	 		<div class="m-wrap price__m-wrap">
	 			<h3>Сколько может стоить сайт</h3>
	 			<div class="price__list">
	 				<div class="price__item">
	 					<p>Старт</p>
	 					<span>199€</span>
	 					<table>
	 					<tr>
	 						<th>система управления сайтом CMS</th>
	 					</tr>
	 					<tr>
	 						<th>до 3 страниц</th>
	 					</tr>
	 					<tr>
	 						<th>до 5 изображений</th>
	 					</tr>
	 					<tr>
	 						<th>базовое наполнение сайта</th>
	 					</tr>		
	 					</table>
	 					<a href="#">подробнее</a>
	 				</div>
	 				<div class="price__item">
	 					<p>Свой бизнес</p>
	 					<span>399€</span>
	 					<table>
	 					<tr>
	 						<th>адаптивный дизайн</th>
	 					</tr>
	 					<tr>
	 						<th>фотогалерея или каталог</th>
	 					</tr>
	 					<tr>
	 						<th>форма обратной связи</th>
	 					</tr>
	 					<tr>
	 						<th>и многое другое</th>
	 					</tr>		
	 					</table>
	 					<a href="#">подробнее</a>
	 				</div>
	 				<div class="price__item">
	 					<p>Индивидуальный</p>
	 					<span>от 499€</span>
	 					<table>
	 					<tr>
	 						<th>логотип, фирменный стиль</th>
	 					</tr>
	 					<tr>
	 						<th>мультиязычный интерфейс</th>
	 					</tr>
	 					<tr>
	 						<th>интеграция с социальными сетями</th>
	 					</tr>
	 					<tr>
	 						<th>и многое другое</th>
	 					</tr>		
	 					</table>
	 					<a href="#">подробнее</a>
	 				</div>
	 			</div>
	 		</div>
	 	</div>
	</section>
