<section class="section project-person">
 	<div class="wrap project-person__wrap">
 		<div class="m-wrap project-person__m-wrap">
 			<div class="project-person__content">
 				<h3>Проект «Индивидуальный»</h3>
 				<p>Нет предела совершенству</p>
 				<span>
 					Сайт фирмы или организации. Расширяет возможности тарифа «Свой бизнес» под Ваши нужды и желания
 				</span>
 				<ul>
 					<li>интернет-магазин</li>
 					<li>неограниченное количество страниц</li>
 					<li>многоуровневое меню или несколько элементов навигации</li>
 					<li>разработка логотипа и фирменного стиля</li>
 					<li>мультиязычный интерфейс</li>
 					<li>Слайд-шоу с элементами анимации</li>
 					<li>Написание текстов и профессиональная фото- и видеосьёмка</li>
 					<li>Рассылка, форум</li>
 				</ul>
 			</div>
 			<div class="project-person__img">
 				<img src="../images/desktop/Computer.png" alt="computer">
 			</div>
 		</div>
 	</div>
</section>