<section class="section project-business">
 	<div class="wrap project-business__wrap">
 		<div class="m-wrap project-business__m-wrap">
 			<div class="project-business__img">
 				<img src="../images/desktop/notebook.png" alt="notebook">
 			</div>
 			<div class="project-business__content">
 				<h3>Проект «Свой бизнес»</h3>
 				<p>Для умных предпринимателей</p>
 				<span>Предринимателям в Германии и Европе. Продаёт Ваш товар или услугу. 
 					Оптимизирован под поисковые системы. Ищет новых клиентов
 				</span>
 				<ul>
 					<li>Дизайн в фирменном стиле</li>
 					<li>Оптимирован для просмотра на мобильных устройствах</li>
 					<li>фотогалерея или каталог товаров</li>
 					<li>7 страниц, 7 пунктов меню</li>
 					<li>Прайслисты, отзывы клиентов</li>
 					<li>регистрация сайта в Google, Яндекс</li>
 					<li>контактные данные с формой обратной связи</li>
 					<li>загрузка сайта на сервер,тест на функциональность, резервное копирование</li>
 				</ul>
 			</div>
 		</div>
 	</div>
</section>