	<section class="section skills module parallax parallax-1">
	 	<div class="wrap skills__wrap">
	 		<div class="skills__top">
	 			<div class="skills__list">
		 			<div class="skills__block">
		 				<div class="skills__front">
		 					<span>icon</span>
			 				<h3>РАЗРАБОТКА</h3>
			 				<p>веб-пректов любого уровня</p>
		 				</div>
		 				<div class="skills__back">
			 				<h3>РАЗРАБОТКА</h3>
			 				<p>Дизайн и программирование сайтов под любые задачи</p>
		 				</div>
		 			</div>
		 			<div class="skills__block">
		 				<div class="skills__front">
		 					<span>icon</span>
			 				<h3>РАЗРАБОТКА</h3>
			 				<p>веб-пректов любого уровня</p>
		 				</div>
		 				<div class="skills__back">
			 				<h3>РАЗРАБОТКА</h3>
			 				<p>Дизайн и программирование сайтов под любые задачи</p>
		 				</div>
		 			</div>
		 			<div class="skills__block">
		 				<div class="skills__front">
		 					<span>icon</span>
			 				<h3>РАЗРАБОТКА</h3>
			 				<p>веб-пректов любого уровня</p>
		 				</div>
		 				<div class="skills__back">
			 				<h3>РАЗРАБОТКА</h3>
			 				<p>Дизайн и программирование сайтов под любые задачи</p>
		 				</div>
		 			</div>
		 			<div class="skills__block">
		 				<div class="skills__front">
		 					<span>icon</span>
			 				<h3>РАЗРАБОТКА</h3>
			 				<p>веб-пректов любого уровня</p>
		 				</div>
		 				<div class="skills__back">
			 				<h3>РАЗРАБОТКА</h3>
			 				<p>Дизайн и программирование сайтов под любые задачи</p>
		 				</div>
		 			</div>
	 			</div>
	 		</div>
	 		<div class="m-wrap skills__m-wrap">
	 			<div class="m-wrap skills__testimonials">
	 				<h3>«Новый сайт окупился за пару недель! <br>
						Больше клиентов-больше продаж. <br>
						Отдельное спасибо за супер-дизайн»
					</h3>
					<span>Foto</span>
	 			</div>
	 		</div>
	 	</div>
	</section>