<section class="section why-we">
 	<div class="wrap why-we__wrap">
 		<div class="m-wrap why-we__m-wrap">
 			<h3>Заказать сайт лучше у нас</h3>
 			<p>Есть минимум 4 причины</p>
 			<div class="why-we__content">
 				<div class="why-we__list">
	 				<div class="why-we__item">
	 					<span>1.</span>
	 					<div>
	 						<h4>Соответствует немецкому законодательству</h4>
							<p>Impressum, Datenschutz, Bildernachweis- мы знаем, что это, как это и куда это</p>
	 					</div>
	 				</div>
	 				<div class="why-we__item">
	 					<span>3.</span>
	 					<div>
		 					<h4>Оптимизирован для мобильных устройств</h4>
							<p>Ваш сайт выглядит одинаково хорошо на всех экранах, на всех устройствах</p>
						</div>
	 				</div>
	 			</div>	
	 			<div class="why-we__list">
	 				<div class="why-we__item">
	 					<span>2.</span>
	 					<div>
	 					<h4>Имеет систему управления</h4>
							<p>Управляйте своим сайтом!
							Редактируйте, меняйте, наводите красоту. Это просто</p>
						</div>
	 				</div>
	 				<div class="why-we__item">
	 					<span>4.</span>
	 					<div>
	 						<h4>Говорит на многих языках</h4>
							<p>Мультиязычный сайт? Не проблема! Ваша интернет-страница может быть сразу на нескольких языкках. Или добавим язык позже </p>
	 					</div>
	 				</div>
	 			</div>	
 			</div>
 			<div class="why-we__24">
 				<img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-original=../images/desktop/24st.png alt="24" width="543" height="121" class="lazy">
 				<h4>Закажите сайт до конца месяца и первая инфомация на сайте появится уже через 24 часа.
					Так быстро только у нас!
				</h4>
				<a href="#">начни сейчас!</a>
 			</div>
 		</div>
 	</div>
</section>
