<link type="image/x-icon" href="favicon.ico" rel="shortcut icon">
	<script>
		if (screen.width <= 750) {
		    document.location = "../mobile/" + document.location.search;
		}
	</script>
<link rel="stylesheet" href="css/head.css">	
<link rel="stylesheet" href="css/main.css">
<!-- asynchronously scripts -->
<!-- <script>
!function(e,t,n){function r(){for(;u[0]&&"loaded"==u[0][l];)o=u.shift(),o[f]=!a.parentNode.insertBefore(o,a)}for(var i,s,o,u=[],a=e.scripts[0],f="onreadystatechange",l="readyState";i=n.shift();)s=e.createElement(t),"async"in a?(s.async=!1,e.head.appendChild(s)):a[l]?(u.push(s),s[f]=r):e.write("<"+t+' src="'+i+'" defer></'+t+">"),s.src=i}(document,"script",
["https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.jss",
"js/init.js"])
</script> -->


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="js/main.js"></script>

 

<?php include('track/head.php'); ?>